<div class="post-form">
  <%= form_with model: [@post, @comment], locale: true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Comment" %>
  </div>

  <%= f.hidden_field :post_id, value: @post.id %>

  <div class="form-group">
    <%= f.submit "POST", class: "btn btn-lg btn-secondary btn-block" %>
  </div>
  <% end %>
</div>
