<div class="container">
  <div class="liked-users">
    <p><%= link_to "Back", post_path(@post) %></p>
    <% @post.liked_users.each do |user| %>
    <p><%= link_to user.name, user_path(user) %></p>
    <% end %>
  </div>
</div>
