<h2 class="py-3 pl-3">POSTS</h2>

<div class="container">
  <% @posts.each do |post| %>
    <div class="box">
      <%= link_to image_tag(post.image.to_s), post_path(post) %>
    </div>
  <% end %>
</div>
