<div class="index-header">
  <div class="header-title">
    <h3>FISHPOD</h3>
    <div class="header-content">
      <p>Kagoshima BASS fishermans<br/>community</p>
    </div>
  </div>
</div>
<div class="posts-title">
  <h2 class="py-3 pl-3">POSTS</h2>
</div>
<div class="container">
  <% @posts.each do |post| %>
    <div class="box">
      <%= link_to image_tag(post.image.to_s), post_path(post) %>
    </div>
  <% end %>
</div>
