// @import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "toastr";

body {
  font-family: 'Georgia';
  padding-top: 76px;
}

header {
  li {
    margin: 20px 0;
  }
}

.top-header {
  background: url('/images/IMG_1258.JPG');
  background-size: cover;
  width: 100%;
  padding-top: 60%;
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Permanent Marker',
  cursive;

  .top-title {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    color: rgb(104, 101, 101);
  }
}

.posts-main {
  width: 80%;
  margin: auto;
}
.box {
  display: inline-block;
  width: 32%;
  padding: 5px 2px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.foot-img {
  background-image: url('/images/footer.JPG');
  background-size: cover;
  width: 100%;
  padding-top: 70%;
  position: relative;
  top: 0;
  left: 0;
  
  .foot-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .foot-text {
    text-align: center;
    position: absolute;
    top: 20%;
    width: 100%;
    color: white;
    a {
      color: white;
    }
  }
}

.show-image {
  width: 100%;

  img {
    width: 100%;
  }
}

.ditail {
  p {
    border-bottom:1px solid #84b2e0;
  }
}

.login-form {
  text-align: center;
  background-image: url('/images/IMG_1344.JPG');
  height: 600px;
  background-size: cover;
  padding-top: 90px;

  .login {
    width: 80%;
    margin: 0 auto;
    height: 400px;
    background-color: rgba(220, 220, 220, 0.5);
    padding: 40px 20px;
    border-radius: 10px;

    h1 {
      font-family: 'Permanent Marker',
      cursive;
    }
  }
}

.posts-title {
  font-family: 'Fredericka the Great',
  cursive;
}

.post-form {
  padding-top: 70px;
  width: 80%;
  margin: 0 auto;
}

.liked-users {
  text-align: center;
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
}

.session-error input{
  color: #630015;
  border-color: #c20c33;
  background-color: #ffd9e1;
}

.rank-title {
  margin-top: 50px;
}

nav {
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.6);
  .navbar-nav li {
      margin: 10px 0px;
    }
  .navbar {
    background-color: rgba(1, 1, 1, 0.6);
    width: 100%;
  }
}